######################################################################
# User specified information for instrument calibration
# 
# Rule: 
# 1. '#' indicates a comment line
# 2. General information for all banks should be writtten in
#    the 'BANK = GENERAL'
# 3. Bank specific information should be written in the 
#    'BANK = X ZONE'.
# 4. Define a variable as VARIABLENAME = VALUE
# 
######################################################################

WORKING_BANKID = 5

#####################################################################
BANK =  GENERAL 
#####################################################################
# Directories
DataFileDir	= /home/wzz/Projects/MantidTests/LeBailFit/PG3_2012August/FERNS-LaB6/
HKLFileDir 	= /home/wzz/Projects/MantidTests/LeBailFit/PG3_2012August/Reflections/
IrfFileDir 	= /home/wzz/Projects/MantidTests/LeBailFit/PG3_2012August/PeakProfiles/
WorkingDir	=

# Background
BackgroundType  = Polynomial
BackgroundOrder = 6

#####################################################################
BANK = 1
#####################################################################
DataFileName      	= PG3_10808-1.dat
HKLFileName       	= LB4844b1.hkl
IrfFileName       	= 2011B_HR60b1.irf
DataWorkspace     	= PG3_10808
LeBailFitMinTOF   	= 5053.
LeBailFitMaxTOF   	= 49387.
SinglePeakFitMin  	= 15000.
SinglePeakFitMax  	= 49387.
LatticeSize       	= 4.1568899999999998
UserSpecifiedBkgdPts	= 5243,8910,11165,12153,13731,15060,16511,17767,19650,21874,23167,24519,36000,44282,49000
	
#####################################################################
BANK = 2 
#####################################################################
DataFileName       	=  PG3_10809-2.dat
HKLFileName        	=  LB4853b2.hkl
IrfFileName        	=  2011B_HR60b2.irf
DataWorkspace      	=  PG3_10809
LeBailFitMinTOF    	= 7000.
LeBailFitMaxTOF    	= 71260.
SinglePeakFitMin   	= 17322.
SinglePeakFitMax   	= 71260.
LatticeSize        	= 4.1568899999999998
UserSpecifiedBkgdPts 	= 5243,8910,11165,12153,13731,15060,16511,17767,19650,21874,23167,24519,36000,44282,49000, 60000., 71240
	
#####################################################################
BANK = 3 
#####################################################################
DataFileName       	=  PG3_10810-3.dat
HKLFileName        	=  LB4854b3.hkl
IrfFileName        	=  2011B_HR60b3.irf
DataWorkspace      	=  PG3_10810
LeBailFitMinTOF    	=  10080.
LeBailFitMaxTOF    	=  70000.
SinglePeakFitMin   	=  16866.
SinglePeakFitMax   	=  70000.
LatticeSize        	=  4.1568899999999998
UserSpecifiedBkgdPts    =  10082., 10591., 11154., 12615., 13690., 13715., 15073., 16893., 17764., 19628., 21318., 24192., 35350., 44212., 50900., 60000., 69900.

#####################################################################
BANK = 4
#####################################################################
DataFileName       	=  PG3_10811-4.dat
HKLFileName        	=  LB4855b4.hkl
IrfFileName        	=  2011B_HR60b4.irf
DataWorkspace      	=  PG3_10811
LeBailFitMinTOF    	=  12949.
LeBailFitMaxTOF    	=  95842.
SinglePeakFitMin   	=  20275.
SinglePeakFitMax   	=  95842.
LatticeSize        	=  4.1568899999999998
UserSpecifiedBkgdPts    =  12950., 13352., 13708., 14297., 15050., 16849., 17744., 24132., 30530., 32890., 36903., 44353., 50572., 60000., 80000., 94840.

#####################################################################
BANK = 5
#####################################################################
DataFileName       	=  PG3_10812-5.dat
HKLFileName        	=  LB4856b5.hkl
IrfFileName        	=  2011B_HR60b5.irf
DataWorkspace      	=  PG3_10812
LeBailFitMinTOF    	=  26444.
LeBailFitMaxTOF    	=  100000.
SinglePeakFitMin   	=  37451.
SinglePeakFitMax   	=  100000.
LatticeSize        	=  4.1568899999999998
UserSpecifiedBkgdPts    =  26448., 28951., 30553., 33466., 36372., 40000., 44490., 51035., 60340., 72000., 87540.,96436., 99900.

#####################################################################
BANK = 6
#####################################################################
DataFileName       	=  PG3_10813-6.dat
HKLFileName        	=  Ada1861b6.hkl
IrfFileName        	=  2011B_HR60b5.irf
DataWorkspace      	=  PG3_10813
LeBailFitMinTOF    	=  12.
LeBailFitMaxTOF    	=  395842.
SinglePeakFitMin   	=  20275.
SinglePeakFitMax   	=  95842.
LatticeSize        	=  4.1568899999999998
UserSpecifiedBkgdPts    =  12950., 13352., 13708., 14297., 15050., 16849., 17744., 24132., 30530., 32890., 36903., 44353., 50572., 60000., 80000., 94840.

#####################################################################
BANK = 7
#####################################################################
DataFileName       	=  PG3_10812-4.dat
HKLFileName        	=  LB4855b4.hkl
IrfFileName        	=  2011B_HR60b4.irf
DataWorkspace      	=  PG3_10810
LeBailFitMinTOF    	=  12949.
LeBailFitMaxTOF    	=  95842.
SinglePeakFitMin   	=  20275.
SinglePeakFitMax   	=  95842.
LatticeSize        	=  4.1568899999999998
UserSpecifiedBkgdPts    =  12950., 13352., 13708., 14297., 15050., 16849., 17744., 24132., 30530., 32890., 36903., 44353., 50572., 60000., 80000., 94840.
